body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Montserrat, "Helvetica Neue", Helvetica
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Bootstrap overrides*/

.navbar-inverse {
    background-color: #FF4342;
    border-color: #FF4342;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.form-group {
    margin-bottom: 30px;
}

.form-control {
    border-radius: 0;
}

.btn{
    padding: 10px 60px;
    border-radius: 100px;
    transition: all .2s ease
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0px 5px 10px 0 rgba(0,0,0,0.4);
}

.navbar-brand{
    font-weight: 700;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #a9444275;
}
